@font-face {
  font-family: Montserrat;
  src: url(./Montserrat-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  outline-style: none;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
button, input {
  font-family: inherit;
  background: none;
  border: none;
}
button, img {
  user-select: none;
}

.primaryTextColor {
  color: #f9f9f9;
}
.secondaryTextColor {
  color: #cacaca
}

/*
The screenBody layer is required because for some reason if you set both cursor and
pointer-events on html, body, main, or screenBody, the cursor will not hide...
*/
html.keyboardNav {
  cursor: none;
}
.screenBodyPadding {
  padding: 0 calc(3.5vw + 32px);
}
.keyboardNav .screenBody {
  pointer-events: none;
}

body {
  background-color: #1a1d29;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.11px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.errorAlert {
  color: red;
  padding: 20px;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1a1d29;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.screen::-webkit-scrollbar {
  display: none;
}

.fadeAfterLoading {
  transition: opacity 100ms ease-out;
}
.fadeAfterLoading.loading {
  opacity: 0;
  transition: none;
}

.grid {
  display: grid;
  grid-gap: 20px;
}
.gridItem {
  /* required to be in parent for chrome due to hidden overflow */
  scroll-margin: 150px;
}
.gridItemTile {
  aspect-ratio: 16/9;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  background-size: cover;
  box-shadow: rgba(0,0,0,0.69) 0 26px 30px -10px, rgba(0,0,0,0.73) 0 16px 10px -10px;
  transition-property: transform, box-shadow;
}
/** Overlapping border that appears when active. */
.gridItemTile::after {
  content: '';
  position: absolute;
  inset: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  transition-property: border-color;
}
.gridItemTile,
.gridItemTile::after {
  border-radius: 5px;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
.keyboardNav .active .gridItemTile,
.mouseNav .gridItemTile:hover {
  box-shadow: rgba(0,0,0,0.8) 0 40px 58px -16px, rgba(0,0,0,0.72) 0 30px 22px -10px;
  transform: scale(1.05);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
.keyboardNav .active .gridItemTile::after,
.mouseNav .gridItemTile:hover::after {
  border-color: rgba(249,249,249,0.8);
}

.gridItemText {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-size: 2vw;
  overflow: hidden;
}

.gridItemSvg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 3vw;
  color: #FFF;
}

.gridItemImg {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gridItem .watchedSVG {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 15%;
  opacity: 0.5;
}
.gridItem.watched .watchedSVG {
  display: flex;
}
.gridItem.watched img {
  opacity: 0.25;
}

.gridItemTitleContainer {
  font-size: 15px;
  line-height: 1.6;
  padding-top: 10px;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  word-break: break-word; /* does nothing so long as line-clamp works */
  /* text-shadow: 1pt 1pt 3pt #000; */
}
.gridItemTitleContainer .episodeNum {
  font-weight: 600;
}
.gridItemTitleContainer .episodeNum.special {
  color: #ffee33;
}
.gridItemTitleContainer .title {
  font-weight: 600;
}
.gridItemDescription {
  font-size: 12px;
  line-height: 1.5;
  padding-top: 6px;
  margin: 0;
}

.gridItemTitleContainer,
.gridItemDescription {
  position: relative;
  z-index: 1;
}

.gridScreen .grid {
  padding: 8px 0;
}

.tvShowScreen .grid {
  padding: 8px 0;
}

.menuScreen .screenBody {
  height: 100%;
}
.menuScreen .grid {
  height: 100%;
  align-content: center;
  justify-content: center;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  position: relative
}

.detailBackgroundImgContainer {
  pointer-events: none;
}
.detailBackgroundImgContainer img {
  position: fixed;
  z-index: -2;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}
.detailBackgroundImgContainer div {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 50vw;
  width: 51vw;
  height: 150vh;
  min-width: 1000px;
  background-image: radial-gradient(farthest-side at 73% 21%, transparent, #1a1d29);
}

.detailLogo {
  margin-top: 56px;
  margin-bottom: 16px;
  width: 35vw;
  min-width: 100px;
  max-width: 341px;
  min-height: 170px;
  object-fit: contain;
  display: flex;
  align-items: center;
  font-size: 150%;
}

.detailTopPanel {
  max-width: 874px;
  margin-bottom: 56px;
}
.detailTopPanelIcons,
.detailTopPanelGeneres {
  font-size: 12px;
  letter-spacing: -0.1px;
  line-height: 1.5;
}
.detailTopPanelIcons {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 5px;
}
.detailTopPanelIcons > img {
  height: 20px;
}

.detailTopPanelButtons {
  display: flex;
  align-items: center;
  margin-top: 28px;
  column-gap: 16px;
}
.backButton,
.playButton {
  color: #f9f9f9;
  background-color: rgba(0,0,0,0.6);
  border: 1px solid #f9f9f9;
  height: 56px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1.6;
  cursor: pointer;
  border-radius: .25rem;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  padding: 0 1rem;
  scroll-margin: 150px;
}
.keyboardNav .backButton.active,
.keyboardNav .playButton.active,
.mouseNav .backButton:hover,
.mouseNav .playButton:hover {
  color: #0e0b14;
  background-color: #f9f9f9;
}
.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}
.playButton svg {
  width: 2rem;
  height: 2rem;
}

.detailTopPanelDesc {
  font-size: 20px;
  letter-spacing: -0.1px;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.detailNav {
  border-bottom: 2px solid rgba(249,249,249,0.2);
  display: flex;
  column-gap: 40px;
  margin-bottom: 10px;
}
.detailNavItem {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.4;
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
}
.detailNavItem::after {
  border-radius: 50px 50px 0 0;
  content: '';
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: background-color 200ms ease;
}

.mediaTitle {
  font-size: 24px;
  letter-spacing: 0.11px;
  line-height: 1.2;
  padding-bottom: 1.5rem;
}

.detailBottomPannel {
  font-size: 15px;
  letter-spacing: -0.1px;
  line-height: 1.6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}
.detailBottomPannel p {
  margin: 0;
}
.detailBottomPannel img {
  height: 20px;
}
.detailBottomPannelLeft > div {
  margin-bottom: 8px;
}
.detailBottomPannelRight > div {
  margin-bottom: 8px;
}

.seasonsContainer {
  background: linear-gradient(transparent, rgba(26, 29, 41, 0.75) 150pt);
}
.season {
  padding-bottom: 25pt;
}

.pinScreen .screenBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 4vw;
}

.pinContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3vw;
}
.pinChar {
  width: 100%;
  max-width: 75pt;
  pointer-events: none;
}
.pinChar .gridItemTile {
  aspect-ratio: 1;
  background: linear-gradient(rgb(18, 19, 23), rgba(30, 31, 42, 0));
  display: flex;
  justify-content: center;
  align-items: center;
}
.pinChar .gridItemTile,
.pinChar .gridItemTile::after {
  border-radius: 25%;
}

.pinChar .dot {
  opacity: 0;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: white;
}
.pinChar.filled .dot {
  opacity: 1;
}
.pinChar.bad .dot {
  background-color: rgb(249,50,50);
}

.numpad {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(auto, 75pt));
  gap: 1vw;
}
.numpad .gridItemTile {
  aspect-ratio: 1;
}
.numpad .gridItemTile,
.numpad .gridItemTile::after {
  border-radius: 25%;
}
.numpad .gridItemText {
  font-size: 20pt;
}
.numpad .gridItemSvg {
  padding: 0;
  height: 20pt;
  margin: auto;
}

#videoPlayerSingleton {
  width: 100%;
  height: 100%;
}
#videoPlayerSingleton video {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.playerScreen .screenBody {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
}
.player {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
  user-select: none;
}
.player.hiddenControls {
  cursor: none;
}

.player .videoPlayerSingletonContainer {
  width: 100%;
  height: 100%;
}
.playerHeader {
  position: absolute;
  top: 0pt;
  width: 100%;
  height: 150pt;
  padding-left: 2vw;
  padding-right: 3vw;
  padding-top: 2vw;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,0.25) 75%, rgba(0,0,0,0));
}
.playerControls {
  position: absolute;
  bottom: 0pt;
  width: 100%;
  display: grid;
  grid-template-columns: 50pt 35pt 1fr repeat(7, 35pt) 1fr 35pt 50pt;
  grid-template-rows: auto 25pt;
  grid-column-gap: 0pt;
  grid-row-gap: 2pt;
  justify-items: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7pt;
  background-image: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.25) 75%, rgba(0,0,0,0));
}
.playerHeader,
.playerControls {
  opacity: 1;
  transition: opacity 200ms ease-out;
}
.hiddenControls .playerHeader,
.hiddenControls .playerControls {
  opacity: 0;
}
.playerHeader > div {
  display: inline-grid;
  grid-template-columns: 25pt 1fr;
  align-items: center;
  justify-items: left;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 200ms ease-out;
}
.mouseNav .playerHeader > div:hover {
  opacity: 1;
}
.playerHeader svg {
  color: #fff;
  width: 100%;
  height: 100%;
  grid-row: 1 / 3;
}
.playerTitle {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.playerSubtitle {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding-top: 2px;
}
.playerTitle.hidden,
.playerSubtitle.hidden {
  display: none;
}

.playerButton {
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,0.5);
  transition: color 200ms ease-out;
  filter: drop-shadow(0pt 1pt 5pt rgba(0,0,0,1));
}
.keyboardNav .playerButton.active,
.mouseNav .playerButton.active:hover {
  color: rgba(255,255,255,1);
}
.playerButton.disabled {
  color: rgba(255,255,255,0) !important;
}
.playerPlayPauseButton.error {
  color: red !important;
}

.playerButton svg {
  padding: 5pt;
  width: 100%;
  height: 100%;
}
.playerText {
  color: #FFF;
  font-size: 10pt;
  text-shadow: 0pt 1pt 2pt #000;
  font-variant-numeric: tabular-nums;
}

@keyframes spin {
  to {transform:rotate(360deg);}
}
.loadingSVG {
  animation: spin 1000ms linear infinite;
}

.playerScrubber {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
  border: 0;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 13;
  /* Padding affects the clickable area for the slider */
  padding: 8pt 0pt;
}
.playerScrubber:focus {
  outline: none;
}
.playerScrubber::-webkit-slider-runnable-track {
  box-shadow: rgba(0,0,0,0.5) 0pt 1pt 5pt 1pt;
  background-image: linear-gradient(to right, #FFF var(--value, 50%), rgba(99, 99, 99, 0.5) var(--value, 50%));
  border-radius: 1pt;
  height: 2pt;
  transition: box-shadow 200ms ease-out;
}
.playerScrubber.active::-webkit-slider-runnable-track {
  box-shadow: rgba(255,255,255,0.75) 0pt 0pt 4pt 2pt;
}
.playerScrubber::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 2pt;
  height: 10pt;
  background: rgb(34, 130, 255);
  margin-top: -4pt;
  border: none;
  border-radius: 1pt;
}
.playerScrubber::-moz-range-track {
  box-shadow: rgba(0,0,0,0.5) 0pt 1pt 5pt 1pt;
  background-image: linear-gradient(to right, #FFF var(--value, 50%), rgba(99, 99, 99, 0.5) var(--value, 50%));
  border-radius: 1pt;
  height: 2pt;
  transition: box-shadow 200ms ease-out;
}
.playerScrubber.active::-moz-range-track {
  box-shadow: rgba(255,255,255,0.75) 0pt 0pt 4pt 2pt;
}
.playerScrubber::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 2pt;
  height: 10pt;
  background: rgb(34, 130, 255);
  margin-top: -4pt;
  border: none;
  border-radius: 1pt;
}
